
<div class="row">

  <div class="col-md-8">

  <p>Esta aplicación te permite relacionar entidades (personas, organizaciones, empresas, etc) y agregarles datos extra tanto a las entidades como a las relaciones entre ellas.</p>

  <div id="chart"></div>
  <script type="text/javascript" src="/assets/force.js"></script>

  </div>

<%= render template: "layouts/sidebar.html.erb" %>
</div>

